  <h1 class="text-center">{{title}}</h1>

  <br />
  <ul class="navbar navbar-expand-lg navbar-light bg-light justify-content-around">
      <li>
        <a class="navbar-brand btn btn-light" routerLink="/doctors">Doctor App</a>
      </li>
      <li>
        <a class="navbar-brand btn btn-light" routerLink="/police">Police App</a>
      </li>
      <li>
        <a class="navbar-brand btn btn-light" routerLink="/sendVaccs">Supply</a>
      </li>
      <li>
        <a class="navbar-brand btn btn-light" routerLink="/stats">Statistics</a>
      </li>
  </ul>
  <br />
  <router-outlet></router-outlet>



